@using CDT.Cosmos.Cms.Common.Services.Configurations
@model CosmosConfigStatus
@{
    ViewData["Title"] = "Cosmos Setup";
}
<div class="row">
    <div class="col">
        <div class="mb-5">
            <h1><i class="fa fa-puzzle-piece"></i> Setup Center</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-group">
        <a class="card text-white bg-success text-decoration-none" asp-action="Instructions">
            <h4 class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i> Setup Instructions</h4>
            <div class="card-body">
                <h5 class="card-title">Documentation</h5>
                <p class="card-text">Select this card to view the steps necessary for setting up Cosmos.</p>
                <div class="btn btn-dark">
                    Get Started
                </div>
            </div>
        </a>
        <a class="card text-white bg-primary text-decoration-none" asp-action="Diagnostics">
            <h4 class="card-header"><i class="fa fa-medkit"></i> Diagnostics</h4>
            <div class="card-body">
                <h5 class="card-title">Startup Validation</h5>
                <p class="card-text">Click on this card to view startup diagnostic and validation reports.</p>
                <div class="btn btn-dark position-relative">
                    Diagnostics
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @Model.Diagnostics.Count(c => c.Success == false)
                        <span class="visually-hidden">Errors</span>
                    </span>
                </div>
            </div>
        </a>
        <a class="card text-white bg-secondary text-decoration-none" asp-action="ConfigWizard">
            <h4 class="card-header"><i class="fa fa-cog"></i> Configuration</h4>
            <div class="card-body">
                <h5 class="card-title">Step by Step</h5>
                <p class="card-text">Use this tool to build a Cosmos configuration that connects to resources.</p>
                <div class="btn btn-dark">
                    Build
                </div>
            </div>
        </a>
    </div>
</div>