@model SendGrid.Response
@{
    ViewData["Title"] = "Next Steps";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Almost Done!</h2>
            <p>Before using your website please complete the following tasks:</p>
            <ul>
                <li>Disable setup mode by removing configuration variable &quot;CosmosAllowSetup&quot; from your Editor website.</li>
                <li>Configure SendGrid to allow your website to send Email (<a href="https://sendgrid.com/blog/introducing-ip-access-management/" target="_blank">IP address management</a>).</li>
                <li>Close all web browsers.</li>
                <li>Open a new web browser then log into the Editor website as the new administrator</li>
            </ul>
        </div>
    </div>
    <div class="row">
        @if (!Model.IsSuccessStatusCode)
        {
            <div class="col">
                <h4>SendGrid Setup Needed</h4>
                <p>
                    An attempt to send email through SendGrid failed or was blocked. Please check the following:
                </p>
                <ol>
                    <li><p>Make sure you have a SendGrid account.</p></li>
                    <li><p>Authorize the &quot;outbound&quot; IP addresses of your website with your SendGrid account.</p></li>
                </ol>
                <p><a class="btn btn-sm btn-primary" href="https://cosmos.moonrise.net/get_started/sendgrid">SendGrid Instructions</a></p>
            </div>
        }
    </div>
    <div class="row">
        <div class="col">
            <h4>Notes:</h4>
            <ol>
                <li>Removing &quot;CosmosAllowSetup&quot; protects your website by disabling setup.</li>
                <li>When you need to upgrade your website, temporarily renable &quot;CosmosAllowSetup&quot;.</li>
                <li>If email fails to send check to see if the IP address of your website <a href="https://sendgrid.com/blog/introducing-ip-access-management/" target="_blank">is being blocked by SendGrid</a>.</li>
            </ol>
        </div>
    </div>
</div>