@model CDT.Cosmos.Cms.Common.Services.Configurations.CosmosConfigStatus
@{
    Layout = "~/Views/Shared/_SetupLayout.cshtml";
    ViewData["Title"] = "Diagnostics";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card bg-dark text-light">
                <div class="card-header">
                    <h4><i class="fa fa-medkit"></i> Startup Diagnostics</h4>
                    <p>This page is being displayed because something is not quite right with
                    the Cosmos startup configuration. For clues as to what might be wrong, look at
                    the diagnostics shown below. Key in those where success
                    is set to &quot;false.&quot;</p>
                    <p>IMPORTANT! Set the startup variable &quot;CosmosAllowSetup&quot; to &quot;false&quot; to disable this page.</p>
                </div>
                <div class="card-body">
                    <table class="table table-secondary table-striped">
                        <thead>
                            <tr>
                                <th>Success</th>
                                <th>Test</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var diagnostic in Model.Diagnostics)
                            {
                                <tr>
                                    <td>@diagnostic.Success</td>
                                    <td>@diagnostic.ServiceType</td>
                                    <td>@diagnostic.Message</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>