@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Web Site Edit Logs";
}
<div class="container mt-4"> 
    <div class="row">
        <div class="col">
            <h3>@ViewData["Title"]</h3>
            <hr />
            <p>This is a list of actions taken on this website with regards to editing content.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @(Html.Kendo().Grid<ArticleLogJsonModel>().Name("grid")
            .Columns(column =>
            {
            column.Template("#= kendo.toString(DateTimeStamp, 'G')#");
            column.Bound(b => b.Title);
            column.Bound(b => b.ActivityNotes);
            column.Bound(b => b.Email);
            })
            .ToolBar(t => t.Search())
            .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new[] {10, 20, 100}))
            .Sortable()
            .Filterable()
            .DataSource(dataSource => { dataSource.Ajax().Read("Read_Logs", "Editor").ServerOperation(false); })
            )
        </div>
    </div>
</div>