@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Web Site Logs";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<ArticleLogJsonModel>().Name("grid")
            .Columns(column =>
            {
            column.Template("#= kendo.toString(DateTimeStamp, 'G')#");
            column.Bound(b => b.Title);
            column.Bound(b => b.ActivityNotes);
            column.Bound(b => b.Email);
            })
            .ToolBar(t => t.Search())
            .Pageable(pager => pager.AlwaysVisible(true).PageSizes(new[] {10, 20, 100}))
            .Sortable()
            .Filterable()
            .DataSource(dataSource => { dataSource.Ajax().Read("Read_Logs", "Editor").ServerOperation(false); })
            )
        </div>
    </div>
</div>